#add-feedback {
  position: fixed;
  bottom: 20px;
  right: 30px;
  opacity: 0.7;
}

.feedback-card {
  max-width: 350px;
}

.card-header-image {
  background-size: cover;
}

mat-card {
  margin: 5px;
}
