<section class="edit-card">
  <mat-card *ngIf="feedback$ | async as feedback">
    <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
      <mat-card-subtitle>Отзыв по инструктору - {{feedback?.instructorName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="edit-form" novalidate (ngSubmit)="onSaveInstructor2in1(feedback)" #feedbackForm="ngForm">
          <mat-form-field class="full-width">
            <mat-select placeholder="Инструктор" [(ngModel)]="feedback.instructorName" name="instructorKey"
              #instructorNameVar="ngModel">
              <mat-option *ngFor="let instructor of instructors$ | async" [value]="instructor.instructorName">
                {{instructor.instructorName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea rows="5" matInput placeholder="Отзыв" required [(ngModel)]="feedback.msg" name="msg" #msgVar="ngModel"></textarea>
          </mat-form-field>
          <h3>Ваша оценка инструктору (от 1 до 5):</h3>
          <mat-slider class="full-width" min="1" max="5" step="1" thumbLabel tickInterval="1" [(ngModel)]="feedback.rating" name="rating"
            #ratingVar="ngModel"></mat-slider>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onInsList()" title="Отзывы">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="onSaveInstructor2in1(feedback)" [disabled]="feedbackForm.invalid" title="Сохранить">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="onDelete(feedback)" title="Удалить!" [disabled]="!feedback?.key">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
