<mat-card class="">
  <mat-card-header>
    <mat-card-title>Полезные ссылки</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>link</mat-icon>
        <h3 matLine>Вопросы для подготовки к экзамену</h3>
        <p matLine>Вариант 1. Сайт green-way.com.ua.</p>
        <a matLine href="https://green-way.com.ua" target="_blank" rel="noopener noreferrer">
          <button mat-button color="accent">https://green-way.com.ua</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>link</mat-icon>
        <h3 matLine>Вопросы для подготовки к экзамену</h3>
        <p matLine>Вариант 2. Сайт Главного сервисного центра Украины.</p>
        <a matLine href="http://pdr.hsc.gov.ua/test-pdd/uk/" target="_blank">
          <button mat-button color="accent">http://pdr.hsc.gov.ua/</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>link</mat-icon>
        <h3 matLine>Вопросы для повторения ПДД</h3>
        <p matLine>
          Киевские и харьковские экзаменационные вопросы.
          Можно использовать для повторения и закрепления ПДД.
        </p>
        <p matLine>Использовались на экзаменах до 2017&nbsp;г.</p>
        <a matLine href="http://gai.eu.com/" target="_blank">
          <button mat-button color="accent">http://gai.eu.com/</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>link</mat-icon>
        <h3 matLine>Книги</h3>
        <p matLine>Литература по подготовке водителей.</p>
        <a matLine href="https://rutracker.org/forum/viewforum.php?f=1979" target="_blank">
          <button mat-button color="accent">https://rutracker.org/</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>link</mat-icon>
        <h3 matLine>Видео</h3>
        <p matLine>Учебные видео.</p>
        <a matLine href="https://www.youtube.com/channel/UCpMopJgJYGdM34NGWA33q9Q" target="_blank" >
          <button mat-button color="accent">https://www.youtube.com/</button>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
