<div *ngIf="user$ | async as user; else showLogin">
  <mat-nav-list>
    <a mat-list-item [routerLink]="['/instructor']" routerLinkActive="router-link-active" (click)="onClose()">
      <mat-icon>people</mat-icon>
      <span class="nav-caption">Инструктора</span>
    </a>
    <a mat-list-item [routerLink]="['/feedback']" routerLinkActive="router-link-active" (click)="onClose()">
      <mat-icon>feedback</mat-icon>
      <span class="nav-caption">Отзывы</span>
    </a>
    <a mat-list-item [routerLink]="['/links']" routerLinkActive="router-link-active" (click)="onClose()">
      <mat-icon>link</mat-icon>
      <span class="nav-caption">Ссылки</span>
    </a>
    <mat-list-item (click)="onLogout()">
      <button mat-icon-button>
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Выход</span>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
<ng-template #showLogin>
  <mat-nav-list>
    <a mat-list-item [routerLink]="['/signup']" routerLinkActive="router-link-active" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Регистрация</span>
    </a>
    <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Вход</span>
    </a>
  </mat-nav-list>
</ng-template>

