<mat-nav-list>
  <a mat-list-item *ngIf="!isAuth" [routerLink]="['/signup']" routerLinkActive="router-link-active" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Регистрация</span>
  </a>
  <a mat-list-item *ngIf="!isAuth" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Вход</span>
  </a>
  <a mat-list-item *ngIf="isAuth" [routerLink]="['/instructor']" routerLinkActive="router-link-active" (click)="onClose()">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Инструктора</span>
  </a>
  <a mat-list-item *ngIf="isAuth" [routerLink]="['/links']" routerLinkActive="router-link-active" (click)="onClose()">
    <mat-icon>link</mat-icon>
    <span class="nav-caption">Ссылки</span>
  </a>
  <mat-list-item *ngIf="isAuth" (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Выход</span>
    </button>
  </mat-list-item>
</mat-nav-list>
