<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-flat-button color="primary" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a [routerLink]="['/']" routerLinkActive="router-link-active" class="brand-logo"> AutoInstructors </a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <div *ngIf="user$ | async as user; else showLogin">
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a [routerLink]="['/instructor']" routerLinkActive="router-link-active">Инструктора</a></li>
        <li><a [routerLink]="['/feedback']" routerLinkActive="router-link-active">Отзывы</a></li>
        <li><a [routerLink]="['/links']" routerLinkActive="router-link-active">Ссылки</a></li>
        <li><a (click)="onLogout()">Выход</a></li>
      </ul>
    </div>
    <ng-template #showLogin>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a [routerLink]="['/signup']" routerLinkActive="router-link-active">Регистрация</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="router-link-active">Вход</a></li>
      </ul>
    </ng-template>

  </div>
</mat-toolbar>
