<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-flat-button color="primary" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a [routerLink]="['/']" routerLinkActive="router-link-active"> AI </a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a [routerLink]="['/signup']" routerLinkActive="router-link-active">Регистрация</a></li>
      <li *ngIf="!isAuth"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Вход</a></li>
      <li *ngIf="isAuth"><a [routerLink]="['/instructor']" routerLinkActive="router-link-active">Инструктора</a></li>
      <li *ngIf="isAuth"><a [routerLink]="['/links']" routerLinkActive="router-link-active">Ссылки</a></li>
      <li *ngIf="isAuth"><a (click)="onLogout()">Выход</a></li>
    </ul>
  </div>
</mat-toolbar>
